main {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.main-card {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.card-type {
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  line-height: 24px;
}

.card-title {
  width: auto;
  margin: 0;
}

.card-detail {
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.card-type-name {
  margin: 0;
}

.card-detail-up {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #09090B;
}

.card-detail-down {
  font-size: 0.75rem;
  line-height: 1rem;
  margin: 0;
}

.main-detail {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

/* antd overwrite*/
.ant-card {
  border-color: #E4E4E7;
}
.ant-card-meta-title {
  margin: 0 !important;
}
/* .ant-card-body {
  padding: 0 !important;
}

.ant-card-meta {
  margin: 0 !important;
}

.ant-card-meta-detail {
  flex: none;
} */

.lucide {
  height: 1rem;
  width: 1rem;
}

.detail-title {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.detail-title-left {
  display: grid;
  gap: 0.5rem;
}

.detail-main {
  line-height: 1;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
}

.detail-info {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #71717A;
  margin: 0;
}

.detail-right {
  padding: 0 0.75rem;
  font-weight: 500;
  font-size: 0.875rem;
  background: #09090B;
  color: #FAFAFA;
  line-height: 1.25rem;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
  height: 2.25rem;
  display: inline-flex;
  border-radius: 6px;
  margin-left: auto;
}

.detail-wrapper {
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.detail-detail {
  position: relative;
  width: 100%;
  overflow: auto;;
}

.customer {
  align-items: center;
  vertical-align: middle;
}


.detail-wrapper-right {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.detail-wrapper-title {
  font-weight: 600;
  /* letter-spacing: -0.25rem; */
  font-size: 1.5rem;
  color: #09090B;
  margin: 0;
}

.right-customer-info {
  display: grid;
  gap: 0.25rem;
}

.detail-wrapper-right-description {
  padding: 0 1.5rem 1.5rem 1.5rem;
  display: grid;
  gap: 2rem;
}

.sale-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.customer-sale {
  margin-left: auto;
  font-weight: 500;
  color: #09090B;
}

.customer-name {
  line-height: 1;
  font-weight: 500;
  font-size: 0.875rem;
  color: #09090B;
  margin: 0;
}

.customer-email {
  color: #71717A;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0;
}
